{{#each projects as |project|}}
  <!-- {{log project}} -->
  <tr data-id="{{project.id}}">
    <td>{{project.id}}</td>
    <td>{{project.name}}</td>
    <td>{{project.status}}</td>
    <td>{{project.user.email}}</td>
  </tr>
{{/each}}
