
  <tr data-id="{{responsibility.id}}">
    <td>{{responsibility.id}}</td>
    <td>{{responsibility.title}}</td>
    <td>{{responsibility.description}}</td>
    <td>{{responsibility.user.email}}</td>
  </tr>
